

body {
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  gap: 2em;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(49,253,45,1) 100%);
  text-align: center;
}



.show{
  display: flex;
  background-color: aqua;
  justify-content: center
}

.hide{
  display: none;
}

#reset{
  width: 100%;
  transition: all 200ms;
}

#reset:hover{
  box-shadow: #61dafbaa;
  transform: scale(1.1)
}

.edit{
  display: flex;
  align-items: center;
  gap: 1em;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 2em;
}